/*
.principal { color: #0093d1 }
.background { color: #dadada }
.secundaria { color: #ffffff }
*/
header{color: #0093d1;   
font-family:serif;
font-size: 40px;
text-align: center;
border-style: none;
padding: 50px;
padding-right: -20px;
margin: 0px;}

h1{text-align: center;}

ul{list-style-type: none;}

main{color: #0093d1;
font-family:serif;
font-size: 25px;}

article{color: #0093D1;
font-family: serif;
font-style: italic;
font-size: 25px;
text-align: center;}

footer{color: #0093D1;
font-size:  25px;
text-align: center;}

header li{border: double 1px #0093D1;
padding: 0.2%;
margin-left: 250px;
margin-right: 0px;
position: fixed;
top: 0px;
right: 0px;
background-color: #ffffff
}

p{color: #0093D1;
font-size: 25px;
text-align: center;}

p#sk{font-size: 20px;
text-align: end;
padding-right: 7px;
position: relative;
top: 50px;}

p#pdita{font-size: 20px;
text-align: end;
padding-right: 7px;
position: relative;
top: 70px;}

a{color: #0093D1;}

a:hover{color: black;}

html{background-color: #ffffff;
color: #0093D1;}

p#tc{text-align: center;
color: #707070;}

p#skk{position: fixed;
top: 0px;
left: 50px;}

li#home{position: fixed;
top: -47px;
right: 170px;
border: solid;
border-color: #0093d1;}

li#prod{position: fixed;
top: -47px;
right: 115px;
border: solid;
border-color: #0093d1;}

li#cart{position: fixed;
top: -47px;
right: 60px;
border: solid;
border-color: #0093d1;}

li#contat{position: fixed;
top: -47px;
right: 5px;
border: solid;
border-color: #0093d1;}

li#insta{position: static;
bottom: 0px;
left: 14px;}

li#face{position: static;
bottom: 0px;
left: 64px}

p#text{color: #707070;
font-size: 25px;
text-align: center;}

p#text2{color: #0093D1;
font-size: 30px;
text-align: right;}

p#text1{color: #707070;
font-size: 30px;
text-align: left;}

p#skt{position: absolute;
top: 25px;}

h2{text-align: center;
font-family: 'Times New Roman', Times, serif;}

li#zap{position: static;
bottom: 0px;
left: 114px;}

li#home:hover{border-style: solid;
color: #0093D1;
position: fixed;
top: 8px;
right: 170px;
padding: -3px;
}

li#contat:hover{border-style: solid;
color: #0093D1;
position: fixed;
top: 8px;
right: 5px;}

li#prod:hover{border-style: solid;
color: #0093D1;
position: fixed;
top: 8px;
right: 115px;}

li#cart:hover{border-style: solid;
color: #0093D1;
position: fixed;
top: 8px;
right: 60px;}

html{background-image: url(design/layout/StreetKinglog\ \(3\).png);
background-repeat: no-repeat;
background-position: center;
background-attachment:fixed;}

li#github{position:static;
bottom: 0px;
left: 164px;}

img#lupa{position: absolute;
top: 265px;
left: 800px;}

div#darkmode{position: absolute;
top: 12px;
left: 15px;
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
    
background-color: none;
display: flex;
align-items: center;
justify-content: center;}

.dark{background-color: #000000;
background-image: url(design/layout/StreetKinglog\ \(3\).png);
background-repeat: no-repeat;
background-position: center;
background-attachment:fixed;}

.checkbox{opacity: 0;
position: absolute;
top: 3px;
left: 12px;}

.label{background-color: #000000;
border-radius: 50px;
cursor: pointer;

display: flex;
align-items: center;
justify-content: space-between;}

.label .ball{background-color: #ffffff;
border-radius: 50%;
position: absolute;
top: 8px;
left: 20px;

height: 22px;
width: 22px;}

p#imghg{text-align: center;}

div#darkmode:hover{background-color: none;
display: flex;
align-items: center;
justify-content: center;}

i:hover{opacity: 0;}

div#cadastro{text-align: center;}

@media (max-width: 480px){
    p{text-align: center;
    font-size: 15px;}
    
    p#skk{position: absolute;
    top: 50px;
    left: 0px;}
    
    header{font-size: 23px;}
    
    h1{text-align: right;}
        
    li#home{position: fixed;
    top: -40px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
        
    li#prod{position: fixed;
    top: -40px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
        
    li#cart{position: fixed;
    top: -40px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
        
    li#contat{position: fixed;
    top: -40px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}
    
    p#sk{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 50px;}
            
    p#pdita{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 70px;}
}

@media (min-width: 481px) and (max-width: 767px){
    p{text-align: center;
    font-size: 15px;}

    p#skk{position: absolute;
    top: 50px;
    left: 0px;}

    header{font-size: 25px;}

    h1{text-align: right;}
    
    li#home{position: fixed;
    top: -44px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
    
    li#prod{position: fixed;
    top: -44px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
    
    li#cart{position: fixed;
    top: -44px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
    
    li#contat{position: fixed;
    top: -44px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}

    p#sk{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 50px;}
        
    p#pdita{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 70px;}
 }

@media (min-width: 768px) and (max-width: 991px){
    p{text-align: center;
    font-size: 15px;}
    
    p#skk{position: absolute;
    top: 50px;
    left: 0px;}
    
    header{font-size: 30px;}
    
    h1{text-align: right;}
        
    li#home{position: fixed;
    top: -44px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
        
    li#prod{position: fixed;
    top: -44px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
        
    li#cart{position: fixed;
    top: -44px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
        
    li#contat{position: fixed;
    top: -44px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}
    
    p#sk{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 50px;}
            
    p#pdita{font-size: 18px;
    text-align: end;
    padding-right: 7px;
    position: relative;
    top: 70px;}}

@media (min-width: 992px) and (max-width: 1199px){ 
    p{text-align: center;
    font-size: 20px;}


    header{font-size: 35px;}

    h1{text-align: center;}
    
    li#home{position: fixed;
    top: -44px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
    
    li#prod{position: fixed;
    top: -44px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
    
    li#cart{position: fixed;
    top: -44px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
    
    li#contat{position: fixed;
    top: -44px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}}

@media (min-width: 1200px) and (max-width: 1919px){
    p{text-align: center;
    font-size: 25px;}

    header{font-size: 35px;}

    h1{text-align: center;}

    p#skk{top: -5px}
    
    li#home{position: fixed;
    top: -44px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
    
    li#prod{position: fixed;
    top: -44px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
    
    li#cart{position: fixed;
    top: -44px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
    
    li#contat{position: fixed;
    top: -44px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}}

@media (min-width: 1920px){
    p{text-align: center;
    font-size: 20px;}
    
    header{font-size: 35px;}
    
    h1{text-align: center;}
        
    li#home{position: fixed;
    top: -44px;
    right: 170px;
    border: solid;
    border-color: #0093d1;}
        
    li#prod{position: fixed;
    top: -44px;
    right: 115px;
    border: solid;
    border-color: #0093d1;}
        
    li#cart{position: fixed;
    top: -44px;
    right: 60px;
    border: solid;
    border-color: #0093d1;}
        
    li#contat{position: fixed;
    top: -44px;
    right: 5px;
    border: solid;
    border-color: #0093d1;}
}